.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.logo {
  width: 50px;
  height: auto;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
}
