.main {
  width: 70%;
  padding: 20px;
  margin: auto;
}

.info {
  margin-bottom: 30px;
}

.header-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.email-form {
  max-width: 500px;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.email-form .form-control {
  flex: 1;
}

.email-input {
  width: 250px;
  padding: 10px;
}

.email-button {
  padding: 10px 20px;
}

body {
  font-family: 'Inter', sans-serif;
}

.main {
  text-align: center;
}

.header-text {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 40px;
}

.sub-text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .main {
    width: 100%;
  }
}
