.marquee-container {
    background-color: black;
    padding: 10px 0;
    width: 100% !important;
  }
  
  .marquee {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 18px;
  }
  